.sun-theme-btn:hover,
.moon-theme-btn:hover {
  transition: all 0.2s ease-in;
}
.sun-theme-btn:hover,
.moon-theme-btn:hover {
  cursor: pointer;
}
.sun-theme-btn:active,
.moon-theme-btn:active {
  transform: scale(0.9);
}

body.dark-mode {
  .sun-theme-btn {
    display: block;
    background-color: transparent;
    border: 0;
  }
  .moon-theme-btn {
    display: none;
  }
}
body.light-mode {
  .sun-theme-btn {
    display: none;
  }
  .moon-theme-btn {
    display: block;
    background-color: transparent;
    border: 0;
  }
}
